body {
  min-height: 110vh; 
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/video.gif');
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  
  .content {
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 15%; 
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.2); 
    padding: 25px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  
  .main_title {
    font-size: 2.8rem; 
    font-weight: 300; 
    color: #D8BFD8; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  }
  
  .main_descript {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #E6E6FA; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .scroll-indicator {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background-image: url('../../assets/mouse-svgrepo-com.svg'); 
    background-size: contain;
    cursor: pointer;
    animation: bounce 2s infinite ease-in-out;
    filter: invert(100%);
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(-20px);
    }
  }
  .hotel-info-section {
    padding: 20px;
    margin-top: 20px;
    background-color: #f4f4f4; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  }  
  .fade-out {
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Стилі для мобільних пристроїв */
@media only screen and (max-width: 600px) {
  .content {
    max-width: 70%;
    padding: 1px;
    bottom: 15%;
  }

  .main_title {
    font-size: 1rem;
  }

  .main_descript {
    font-size: 1rem;
  }

  .scroll-indicator {
    width: 50px;
    height: 50px;
    bottom: 5%;
  }

  .hotel-info-section {
    padding: 10px;
    margin-top: 10px;
  }
}